<h1>Upload voucher image</h1>
<%= form_tag vouchers_path, multipart: true do %>
  <div class="row">
    <div class='large-4 columns'>
      <%= file_field_tag :image_files, :multiple => true, name: 'image_files[]', :id => 'fileinput' %>
    </div>
  </div>
  <div class="row">
    <div class='large-4 columns'>
      <%= submit_tag 'Upload files', class: 'button' %>
    </div>
  </div>
<% end %>
